.UserOutput{
    width: 60%;
    padding:16px;
    /* margin: top - right - bottom - left */
    margin: 16px auto 16px auto;
    border: 2px solid black;
    background-color: #ccc;
    text-align: center;
    align-self: center;
}